{% extends "base_site.html" %}
{% block content %}
<div class="logo">
  <span>IMAGEM LOGO</span>
</div>

<div class="descricao-grande">
  <h1>Voluntar.io</h1>
  <div>
    Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
  </div>
</div>
<div class="big-menu row-fluid">
  <h1>Quero Ajudar!</h1>
    <div class="span12">
      <div class="row-fluid">
        <div class="span5">
          <button class="btn input-large btn-primary right">Facebook</button>
        </div>
        <div class="span5">
          <button class="btn input-large right">Cadastre-se</button>
        </div>
      </div>
    </div>
  </div>
  <div class="campanhas">
      <h1>Campanhas</h1>
      {% for campanha in campanhas %}
      <div class="campanha">
          <span>{{ campanha.nome }}</span>
          <div class="img">
            <span>CAMPANHA IMAGE</span>
          </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}